.dailyQuote {
    color: #d3b5f7;
    text-align: center;
    padding: 100px;
    margin: 100px;
    font-family: 'Parisienne', cursive;
}

body {
    background: linear-gradient(to left, #b53df5, #d3b5f7);
}

.navbar-brand {
    font-family: 'Laila', serif;
}

#carouselExampleIndicators {
    text-align: center;
    align-items: center;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    font-family: 'Laila', serif;
}

.welcomeTitle {
    font-family: 'Parisienne', cursive;
    color: #d3b5f7;
}

.recipeTitle {
    color: #70a358
}

.fitnessTitle {
    color: #68afde;
}