.dailyQuote {
    color: #d3b5f7;
    text-align: center;
    padding: 100px;
    margin: 100px;
    font-family: 'Parisienne', cursive;
}

body {
    background: linear-gradient(to left, #b53df5, #d3b5f7);
}

.navbar-brand {
    font-family: 'Laila', serif;
}

#carouselExampleIndicators {
    text-align: center;
    align-items: center;
}
