body {
    background: linear-gradient(to left, #b53df5, #d3b5f7);
}

.navbar-brand {
    font-family: 'Laila', serif;
}

.about {
    text-align: center;
    margin: 250px;
    padding: 50px;
    font-family: 'Laila', serif;
}